{% extends 'base.html.twig' %}

{% block body %}

    {% for event in myEvents %}
        <div>{{ dump(event) }}</div>
        {#<div>{{ event.event }}</div>#}
    {% endfor %}
    {#<div>{{ dump(numberDays) }}</div>#}

{% endblock %}

{% block stylesheets %}

{% endblock %}
